.container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.services{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.chiffres-cles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2%;
  height: 150px;


}

.grid{
  background-color: #009688;
  border-right: 1px solid black;
}

.grid p {
  text-align: center;
  color: #1DE9B6;
  font-size: medium;
}

.service-card{
  border-radius: 50%;
  background-color: #1DE9B6;
  height: 150px;
  width: 150px;
  margin-top: 5em;
  line-height: 150px;
  white-space: nowrap;
}

.service-card p {
  text-align: center;
  font-size: 14px;
  color: #E51C23;

}

.titre{
  color: #1DE9B6;
  text-align: center;
  margin-top: 2%;
}

.anais{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.anais img {
  border-radius: 50%;
  width: 150px;
  height: 150px;

}

.anais p {
  color: #FDB8BA;
}
