.navbar{
  background-color: #BDD4E7;
  display:flex;
  justify-content: space-between;
}

.titre{
  color: #F5EE9E;
  text-align: center;
  padding-left: 3%;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: transparent;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #3C78D8;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #3C78D8;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #3C78D8;
  margin: 6px 0;
}

.menu{
  float: right;
  padding-right: 3%;
  background-color: transparent;
  border-color: transparent;
}
