<div>
    <div class="titre">
      <h2>Nos services</h2>
    </div>

    <div class="services">
      <div class="service-card mx-2">
      <p>UGC</p>
      </div>

      <div class="service-card ml-4">
      <p><%= link_to "coaching", coaching_path %></p>
      </div>

      <div class="service-card">
      <p>Community Management</p>
      </div>

      <div class="service-card">
      <p>Creation de contenu</p>
      </div>

      <div class="service-card">
      <p>Site Internet</p>
      </div>

      <div class="service-card">
      <p>Master Class</p>
      </div>

    </div>

  <div class="chiffres-cles">
    <div class="grid">
    <p>3 années d'expériences</p>
    </div>
    <div class="grid">
    <p>100% de satisfaction client</p>
    </div>
    <div class="grid">
    <p>5 étoiles - Avis Google</p>
    </div>
  </div>
