<div class="navbar" data-controller="sidenav" >
  <div class="logo">
    <div>
      <%= image_tag("", alt: "logo quartz agency")%>
    </div>

    <div>
      <li class="list-inline-item ml-3">
        <%= link_to "#",aria: { label: "Linkedin" }, target: "_blank" do %>
        <i class="fab fa-linkedin"></i>
        <% end %>
      </li>

      <li class="list-inline-item">
        <%= link_to "#",aria: { label: "TikTok" }, target: "_blank" do %>
        <i class="fab fa-tiktok"></i>
        <% end %>
      </li>

      <li class="list-inline-item">
        <%= link_to "#",aria: { label: "Instagram" }, target: "_blank" do %>
        <i class="fab fa-instagram"></i>
        <% end %>
      </li>
    </div>
  </div>

  <div class="titre">
    <h2>Quartz Agency </h2>
  </div>


  <div  data-controller="navbar"  data-navbar-target="openBtn">
    <button class="menu" data-action="click->navbar#openNav" >
      <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
  </div>

  <div class="sidenav" data-controller="navbar"  data-navbar-target="closeBtn">
    <button id="closeBtn" class="close" data-action="click->navbar#closeNav">×</button>
    <ul>
      <li><a href="#">A propos</a></li>
      <li><a href="#">Ils nous font confiance</a></li>
      <li><a href="#">Nos services</a></li>
      <li><a href="#">Ils parlents de nous</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
